doctype html
html(lang='de')
    head
        title Sabrina & Matthias | Hochzeit
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Sabrina und Matthias Heiraten')
        meta(name='keywords', content='hochzeit')
        meta(name='author', content='Matthias Kainer')
        link(rel='stylesheet', href='css/_.css', type='text/css')
    body
        block content
        script(src='/js/_.js')
        script(src='/js/admin.js')